<a href="https://colab.research.google.com/github/levhyun/MachineLearningInSchool/blob/main/2023.04.04/2023_04_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import gdown
gdown.download('https://bit.ly/3GisL6J', 'ns_book4.csv', quiet=False)

Downloading...
From: https://bit.ly/3GisL6J
To: /content/ns_book4.csv
100%|██████████| 55.5M/55.5M [00:00<00:00, 83.3MB/s]

'ns_book4.csv'

In [4]:
import pandas as pd
ns_book4 = pd.read_csv('ns_book4.csv', low_memory=False)
ns_book4.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0.0,2021-03-19

In [5]:
ns_book4.info()
# RangeIndex : 전체 행의 개수
# Data columns : 열 개수

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384591 entries, 0 to 384590
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   번호       384591 non-null  int64
 1   도서명      384188 non-null  object
 2   저자       384393 non-null  object
 3   출판사      379950 non-null  object
 4   발행년도     384577 non-null  object
 5   ISBN     384591 non-null  object
 6   세트 ISBN  56576 non-null   object
 7   부가기호     310386 non-null  object
 8   권        63378 non-null   object
 9   주제분류번호   364727 non-null  object
 10  도서권수     384591 non-null  int64
 11  대출건수     384591 non-null  float64
 12  등록일자     384591 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 38.1+ MB

In [6]:
ns_book4.info(memory_usage='deep') # 정확한 메모리 사용량 표시

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384591 entries, 0 to 384590
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   번호       384591 non-null  int64
 1   도서명      384188 non-null  object
 2   저자       384393 non-null  object
 3   출판사      379950 non-null  object
 4   발행년도     384577 non-null  object
 5   ISBN     384591 non-null  object
 6   세트 ISBN  56576 non-null   object
 7   부가기호     310386 non-null  object
 8   권        63378 non-null   object
 9   주제분류번호   364727 non-null  object
 10  도서권수     384591 non-null  int64
 11  대출건수     384591 non-null  float64
 12  등록일자     384591 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 266.2 MB

In [7]:
ns_book4.isna().sum() # 비어있는 데이터 개수 출력력

번호              0
도서명           403
저자            198
출판사          4641
발행년도           14
ISBN            0
세트 ISBN    328015
부가기호        74205
권          321213
주제분류번호      19864
도서권수            0
대출건수            0
등록일자            0
dtype: int64

In [8]:
ns_book4.loc[0, '도서권수'] = None
ns_book4['도서권수'].isna().sum()

1

In [9]:
ns_book4.head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,NaN,0.0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1.0,0.0,2021-03-19

In [10]:
ns_book4.loc[0, '도서권수'] = 1
ns_book4 = ns_book4.astype({'도서권수': 'int32', '대출건수': 'int32'})
ns_book4.head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [11]:
ns_book4.loc[0, '부가기호'] = None
ns_book4.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,None,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [12]:
import numpy as np
ns_book4.loc[0, '부가기호'] = np.nan
ns_book4.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [13]:
set_isbn_na_rows = ns_book4['세트 ISBN'].isna()
ns_book4.loc[set_isbn_na_rows, '세트 ISBN'] = ''
ns_book4['세트 ISBN'].isna().sum()

0

In [14]:
ns_book4.fillna('없음').isna().sum()

번호         0
도서명        0
저자         0
출판사        0
발행년도       0
ISBN       0
세트 ISBN    0
부가기호       0
권          0
주제분류번호     0
도서권수       0
대출건수       0
등록일자       0
dtype: int64

In [15]:
ns_book4['부가기호'].fillna('없음').isna().sum()

0

In [16]:
ns_book4.fillna({'부가기호': '없음'}).isna().sum()

번호              0
도서명           403
저자            198
출판사          4641
발행년도           14
ISBN            0
세트 ISBN         0
부가기호            0
권          321213
주제분류번호      19864
도서권수            0
대출건수            0
등록일자            0
dtype: int64

In [17]:
ns_book4.replace(np.nan, '없음').isna().sum()

번호         0
도서명        0
저자         0
출판사        0
발행년도       0
ISBN       0
세트 ISBN    0
부가기호       0
권          0
주제분류번호     0
도서권수       0
대출건수       0
등록일자       0
dtype: int64

In [18]:
ns_book4.replace([np.nan, '2021'], ['없음', '21']).head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,21,9788937444319,,없음,없음,없음,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,21,9791190123969,,없음,없음,없음,1,0,2021-03-19

In [19]:
ns_book4.replace({np.nan: '없음', '2021': '21'}).head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,21,9788937444319,,없음,없음,없음,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,21,9791190123969,,없음,없음,없음,1,0,2021-03-19

In [20]:
ns_book4.replace({'부가기호': np.nan}, '없음').head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,,없음,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,,없음,NaN,NaN,1,0,2021-03-19

In [21]:
ns_book4.replace({'부가기호': {np.nan: '없음'}, '발행년도': {'2021': '21'}}).head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,21,9788937444319,,없음,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,21,9791190123969,,없음,NaN,NaN,1,0,2021-03-19

In [22]:
ns_book4.replace({'발행년도': {'2021': '21'}})[100:102]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
100,101,No라고 말할 줄 아는 남편과 아내 - 개정판,"헨리 클라우드, 존 타운센드 (지은이), 김진웅 (옮긴이)",좋은씨앗,2018,9788958743019,,NaN,NaN,234.9,1,1,2021-03-15
101,102,"D2C 레볼루션 - 스타트업부터 글로벌 기업까지, 마켓 체인저의 필수 전략","로런스 인그래시아 (지은이), 안기순 (옮긴이)",부키,21,9788960518483,,NaN,NaN,325.1,1,0,2021-03-15

In [23]:
ns_book4.replace({'발행년도': {r'\d\d(\d\d)': r'\1'}}, regex=True)[100:102]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
100,101,No라고 말할 줄 아는 남편과 아내 - 개정판,"헨리 클라우드, 존 타운센드 (지은이), 김진웅 (옮긴이)",좋은씨앗,18,9788958743019,,NaN,NaN,234.9,1,1,2021-03-15
101,102,"D2C 레볼루션 - 스타트업부터 글로벌 기업까지, 마켓 체인저의 필수 전략","로런스 인그래시아 (지은이), 안기순 (옮긴이)",부키,21,9788960518483,,NaN,NaN,325.1,1,0,2021-03-15

In [24]:
ns_book4.replace({'발행년도': {r'\d{2}(\d{2})' : r'\1'}}, regex=True)[100:102]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
100,101,No라고 말할 줄 아는 남편과 아내 - 개정판,"헨리 클라우드, 존 타운센드 (지은이), 김진웅 (옮긴이)",좋은씨앗,18,9788958743019,,NaN,NaN,234.9,1,1,2021-03-15
101,102,"D2C 레볼루션 - 스타트업부터 글로벌 기업까지, 마켓 체인저의 필수 전략","로런스 인그래시아 (지은이), 안기순 (옮긴이)",부키,21,9788960518483,,NaN,NaN,325.1,1,0,2021-03-15

In [25]:
ns_book4.replace({'저자': {r'(.*)\s\(지은이\)(.*)\s\(옮긴이\)': r'\1\2'}, '발행년도': {r'\d{2}(\d{2})': r'\1'}}, regex=True)[100:102]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
100,101,No라고 말할 줄 아는 남편과 아내 - 개정판,"헨리 클라우드, 존 타운센드, 김진웅",좋은씨앗,18,9788958743019,,NaN,NaN,234.9,1,1,2021-03-15
101,102,"D2C 레볼루션 - 스타트업부터 글로벌 기업까지, 마켓 체인저의 필수 전략","로런스 인그래시아, 안기순",부키,21,9788960518483,,NaN,NaN,325.1,1,0,2021-03-15

In [26]:
ns_book4.replace({'저자': {r'(.*)\s\(지은이\).*': r'\1'}, '발행년도': {r'\d{2}(\d{2})': r'\1'}}, regex=True)[100:102]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
100,101,No라고 말할 줄 아는 남편과 아내 - 개정판,"헨리 클라우드, 존 타운센드",좋은씨앗,18,9788958743019,,NaN,NaN,234.9,1,1,2021-03-15
101,102,"D2C 레볼루션 - 스타트업부터 글로벌 기업까지, 마켓 체인저의 필수 전략",로런스 인그래시아,부키,21,9788960518483,,NaN,NaN,325.1,1,0,2021-03-15

In [27]:
# ns_book4.astype({'발행년도': 'int32'}) # ValueError: invalid literal for int() with base 10: '1988.'

In [28]:
ns_book4['발행년도'].str.contains('1988').sum()

407

In [29]:
invalid_number = ns_book4['발행년도'].str.contains('\D', na=True)
print(invalid_number.sum())
ns_book4[invalid_number].head()

1777

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
19138,19565,단국강토,홍태수 저,매일경제신문사,1988.,9788974420031,,NaN,NaN,511.1,1,1,2019-12-19
19227,19736,삼성의 역사,송부웅 撰,삼양,단기4334[2001],9788985464369,,0,NaN,911.02,1,1,2019-12-06
26097,26812,배고픈 애벌레,에릭 칼 글·그림 ;이희재 옮김,더큰컴퍼니,[2019],9788959514083,,NaN,NaN,843,1,0,2019-08-12
29817,30586,(The) Sopranos sessions,"Matt Zoller Seitz,$eAlan Sepinwall,$eLaura Lip...",Harry N Abrams Inc,2019.,9781419734946,,NaN,NaN,326.76,1,0,2019-06-13
29940,30709,다음엔 너야,에른스트 얀들 글;노르만 융에 그림;박상순 옮김,비룡소,2018.,9788949110646,9788949110004,7,NaN,853,1,9,2019-06-04

In [30]:
ns_book5 = ns_book4.replace({'발행년도':'.*(\d{4}).*'}, r'\1', regex=True)
ns_book5[invalid_number].head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
19138,19565,단국강토,홍태수 저,매일경제신문사,1988,9788974420031,,NaN,NaN,511.1,1,1,2019-12-19
19227,19736,삼성의 역사,송부웅 撰,삼양,2001,9788985464369,,0,NaN,911.02,1,1,2019-12-06
26097,26812,배고픈 애벌레,에릭 칼 글·그림 ;이희재 옮김,더큰컴퍼니,2019,9788959514083,,NaN,NaN,843,1,0,2019-08-12
29817,30586,(The) Sopranos sessions,"Matt Zoller Seitz,$eAlan Sepinwall,$eLaura Lip...",Harry N Abrams Inc,2019,9781419734946,,NaN,NaN,326.76,1,0,2019-06-13
29940,30709,다음엔 너야,에른스트 얀들 글;노르만 융에 그림;박상순 옮김,비룡소,2018,9788949110646,9788949110004,7,NaN,853,1,9,2019-06-04

In [31]:
unkown_year = ns_book5['발행년도'].str.contains('\D', na=True) # 숫자 이외의 문자가 들어간 행의 개수와 데이터
print(unkown_year.sum())
ns_book4[unkown_year].head()

67

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
30838,31616,본격 한중일 세계사 5,굽시니스트 지음,위즈덤하우스,NaN,9791190065092,,NaN,NaN,NaN,0,0,2019-05-28
39130,40141,정책금융의 현황과 발전과제,정책금융연구회,한국산업은행,NaN,9788992784108,,NaN,NaN,327.1,1,0,2019-01-22
39256,40268,서울지역 유적 발굴조사 총서 3,서울역사박물관,서울역사박물관,NaN,9791186324714,9791186324431,NaN,NaN,NaN,0,0,2019-01-22
76836,81202,흰머리 큰줄기,한호진 지음,秀文出版社,[발행년불명],9788973010769,,0,NaN,699.1,1,1,2016-11-10
150543,160436,(속) 경제학사,박장환 지음,NaN,[20--],9788994339207,,1,NaN,320.9,1,2,2012-11-19

In [32]:
ns_book5.loc[unkown_year, '발행년도'] = '-1'
ns_book5 = ns_book5.astype({'발행년도': 'int32'})
ns_book5['발행년도'].gt(4000).sum() # 4000 보다 큰 값의 개수

131

In [33]:
(ns_book5['발행년도'] > 4000).sum()

131

In [34]:
dangun_yy_rows = ns_book5['발행년도'].gt(4000) # 4000본다 큰 값 찾기
ns_book5.loc[dangun_yy_rows, '발행년도'] = ns_book5.loc[dangun_yy_rows, '발행년도'] - 2333 # 찾은 값에서 2333을 빼서 서기로 바꾸기
dangun_year = ns_book5['발행년도'].gt(4000) # 다시 4000 보다 큰 값을 찾기
print(dangun_year.sum())
ns_book5[dangun_year].head(2)

13

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
222858,234268,Modern art,[computer file],GROLIER,7611,9780717233243,,NaN,NaN,609.205,1,1,2009-05-07
270269,282852,현대 영어학=Linguistic theory in modern english,이재영,열림기획,7634,9788986705072,,1,NaN,740.1,1,6,2007-04-14

In [35]:
ns_book5.loc[dangun_year, '발행년도'] = -1 # 연도가 이상하게 높은 도서의 발행년도를 -1로 지정

In [36]:
old_books = ns_book5['발행년도'].gt(0) & ns_book5['발행년도'].lt(1900)
print(old_books.sum())
ns_book5[old_books]

6

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
61149,64093,"고흐 씨, 시 읽어 줄까요 :내 마음을 알아주는 시와 그림의 만남",이운진 지음,사계절,176,9788958284277,,0,NaN,811.7,1,6,2017-10-27
70566,74347,정신 병리학의 문제들,지은이: 지그문트 프로이트 ;옮긴이: 황보석,열린책들,151,9788932905181,9788932905082,9,10,185.5,1,4,2017-04-26
79550,84164,(최근 7년간) 중요 민법판례 :[2009년 1월~2016년 6월 중요 판례],이광섭 편저,법학사,163,9788962898651,,9,NaN,365,1,14,2016-09-27
147950,157759,(한·중·일) 밥상 문화 :대표음식으로 본 3국 문화비교,김경은 지음,이가서,132,9788958643012,,0,NaN,381.75,1,30,2013-02-19
194576,205407,책으로 뒤덮인 집의 비밀,N.E. 보드 지음 ;피터 퍼거슨 그림 ;김지현 옮김,개암나무,1015,9788992844413,,7,NaN,843,1,15,2010-08-18
287252,300283,(밝혀질)우리歷史,吳在城 著,黎民族史硏究會,1607,9788986892130,,0,NaN,911,1,5,2006-07-06

In [37]:
ns_book5.loc[old_books, '발행년도'] = -1
ns_book5['발행년도'].eq(-1).sum()

86

In [38]:
na_rows = ns_book5['도서명'].isna() | ns_book5['저자'].isna() | ns_book5['출판사'].isna() | ns_book5['발행년도'].eq(-1)
print(na_rows.sum())
ns_book5[na_rows].head(2)

5268

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
78,79,아산 정주영 레거시,김화진,NaN,2021,9788952129529,,NaN,NaN,325,1,1,2021-03-15
265,278,골목의 시간을 그리다,정명섭.김효찬 지음,NaN,2021,9791191266054,,NaN,NaN,NaN,1,0,2021-03-12

In [39]:
import requests
from bs4 import BeautifulSoup
def get_book_title(isbn):
  url = f'http://www.yes24.com/Product/Search?domain=BOOK&query={isbn}'
  r = requests.get(url)
  soup = BeautifulSoup(r.text, 'html.parser')
  title = soup.find('a', attrs={'class':'gd_name'}).get_text()
  return title

In [40]:
get_book_title('8954654754')

'체리새우 : 비밀글입니다'

In [41]:
get_book_title('1190337754')

'죽이고 싶은 아이'

In [42]:
get_book_title('895467030X')

'독고솜에게 반하면'

In [43]:
def get_book_author(isbn):
  url = f'http://www.yes24.com/Product/Search?domain=BOOK&query={isbn}'
  r = requests.get(url)
  soup = BeautifulSoup(r.text, 'html.parser')
  title = soup.find('a', attrs={'class':'gd_name'}).get_text()
  author = soup.find('span', attrs={'class':'info_auth'}).find_all('a')
  result = list(tag.get_text() for tag in author)
  return {'제목':title,'저자':result}

In [44]:
get_book_author('1169791972')

{'제목': '스즈메의 문단속', '저자': ['신카이 마코토', '민경욱']}

In [45]:
def get_book_pub(isbn): # 책의 출판사를 반환하는 함수
  url = f'http://www.yes24.com/Product/Search?domain=BOOK&query={isbn}' # URL 포맷.

  r = requests.get(url) # URL에 GET 요청.

  html = BeautifulSoup(r.text, 'html.parser') # URL에 GET 요청을 보낸 결과의 HTML을 파싱.

  title = html.find('a', attrs={'class':'gd_name'}).get_text() # html에 a태그 중 클래스이름이 gd_name인 태그의 텍스트값을 반환.

  author = html.find('span', attrs={'class':'info_auth'}).find_all('a') # html에 span태그 중 클래스이름이 info_auth인 태그 안에 모든 a태그를 반환.
  result = list(tag.get_text() for tag in author) # a태그의 텍스트값을 추출하여 리스트화.

  pub = html.find('span', attrs={'class':'info_pub'}).find('a').get_text() # html에 span태그 중 클래스이름이 info_pub인 태그 안에 a태그의 텍스트값을 반환.

  return {'제목':title,'저자':result, '출판사':pub} # 책제목, 책저자, 책출판사를 딕셔너리로 반환.

In [46]:
get_book_pub('1169791972')

{'제목': '스즈메의 문단속', '저자': ['신카이 마코토', '민경욱'], '출판사': '대원씨아이(단행)(대원키즈)'}

In [47]:
import re
def get_book_year(isbn): # 책의 출판사를 반환하는 함수
  url = f'http://www.yes24.com/Product/Search?domain=BOOK&query={isbn}' # URL 포맷.

  r = requests.get(url) # URL에 GET 요청.

  html = BeautifulSoup(r.text, 'html.parser') # URL에 GET 요청을 보낸 결과의 HTML을 파싱.

  title = html.find('a', attrs={'class':'gd_name'}).get_text() # html에 a태그 중 클래스이름이 gd_name인 태그의 텍스트값을 반환.

  author = html.find('span', attrs={'class':'info_auth'}).find_all('a') # html에 span태그 중 클래스이름이 info_auth인 태그 안에 모든 a태그를 반환.
  result = list(tag.get_text() for tag in author) # a태그의 텍스트값을 추출하여 리스트화.

  pub = html.find('span', attrs={'class':'info_pub'}).find('a').get_text() # html에 span태그 중 클래스이름이 info_pub인 태그 안에 a태그의 텍스트값을 반환.

  # year = html.find('span', attrs={'class':'info_date'}).get_text()[:4] # html에 span태그 중 클래스이름이 info_date 태그의 텍스트값의 인덱스번호 0부터 3까지의 값만 반환.
  year_str = html.find('span', attrs={'class':'info_date'}).get_text() # html에 span태그 중 클래스이름이 info_date 태그의 텍스트값을 반환.
  year = re.findall(r'\d{4}', year_str) # 정규표현식으로 앞의 4자리만 추출

  return {'제목':title,'저자':result, '출판사':pub, '발행년도':year[0]} # 책제목, 책저자, 책출판사, 책발행년도를 딕셔너리로 반환.

In [48]:
get_book_year('1169791972')

{'제목': '스즈메의 문단속',
 '저자': ['신카이 마코토', '민경욱'],
 '출판사': '대원씨아이(단행)(대원키즈)',
 '발행년도': '2023'}

In [49]:
def get_book_info(row):
  title = row['도서명']
  author = row['저자']
  pub = row['출판사']
  year = row['발행년도']
  
  isbn = row['ISBN']
  url = f'http://www.yes24.com/Product/Search?domain=BOOK&query={isbn}' 

  r = requests.get(url)

  html = BeautifulSoup(r.text, 'html.parser')

  try:
    if pd.isna(title):
      title = html.find('a', attrs={'class':'gd_name'}).get_text()
  except AttributeError:
    pass

  try:
    if pd.isna(author):
      authors = html.find('span', attrs={'class':'info_auth'}).find_all('a') 
      author = list(tag.get_text() for tag in authors) 
  except AttributeError:
    pass

  try:
    if pd.isna(pub):
      pub = html.find('span', attrs={'class':'info_pub'}).find('a').get_text()
  except AttributeError:
    pass
  
  try:
    if year == -1:
      year_str = html.find('span', attrs={'class':'info_date'}).get_text()
      year = re.findall(r'\d{4}', year_str)[0]
  except AttributeError:
    pass
  
  return title,author,pub,year

In [50]:
updated_sample = ns_book5[na_rows].head(10).apply(get_book_info, axis=1, result_type='expand')
updated_sample

,0,1,2,3
78,아산 정주영 레거시,김화진,서울대학교출판문화원,2021
265,골목의 시간을 그리다,정명섭.김효찬 지음,초록비책공방,2021
354,한국인의 맛,정명섭 지음,추수밭,2021
539,"한성부, 달 밝은 밤에",김이삭 지음,고즈넉이엔티,2021
607,100일 완성 마그마 러시아어 중고급 단어장,러포자 구제 연구소 외 지음,문예림,2021
646,수채 과슈로 그리는 나의 반려식물,송현미 지음,북핀,2021
991,더 믹솔로지,"나구모 슈조 지음, 김수연 옮김, 성중용 감수",한스미디어,2021
1164,(101개 실습 동영상 보면서 배우는)영상편집 with 프리미어 프로 :1페이지 핵...,"신의현,서준성 공저",앤써북,2021
1165,(맛있는 디자인) 포토샵 & 일러스트레이터 CC 2021 :누구나 쉽게 배워 제대로...,"빨간고래,윤이사라 지음",한빛미디어,2021
1177,내 아이의 부자 수업 :상위 1퍼센트 유대인의 하브루타 경제 독립 교육,김금선 지음,한국경제신문사(한경비피),2021

In [51]:
gdown.download('https://bit.ly/3UJZiHw', 'ns_book5_update.csv', quiet=False)
ns_book5_update = pd.read_csv('ns_book5_update.csv', index_col=0)
ns_book5_update.head()

Downloading...
From: https://bit.ly/3UJZiHw
To: /content/ns_book5_update.csv
100%|██████████| 406k/406k [00:00<00:00, 67.8MB/s]

                          도서명               저자         출판사  발행년도
78                 아산 정주영 레거시              김화진  서울대학교출판문화원  2021
265               골목의 시간을 그리다       정명섭.김효찬 지음      초록비책공방  2021
354                    한국인의 맛           정명섭 지음         추수밭  2021
539              한성부, 달 밝은 밤에           김이삭 지음      고즈넉이엔티  2021
607  100일 완성 마그마 러시아어 중고급 단어장  러포자 구제 연구소 외 지음         문예림  2021

In [52]:
ns_book5.update(ns_book5_update)
na_row = ns_book5['도서명'].isna() | ns_book5['저자'].isna() | ns_book5['출판사'].isna() | ns_book5['발행년도'].eq(-1)
na_row.sum()

4615

In [53]:
ns_book5 = ns_book5.astype({'발행년도' : 'int32'})
ns_book6 = ns_book5.dropna(subset=['도서명', '저자', '출판사'])
ns_book6 = ns_book6[ns_book6['발행년도'] != -1]
ns_book6.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,,NaN,NaN,NaN,1,0,2021-03-19

In [54]:
ns_book6.to_csv('ns_book6.csv', index=False)

In [61]:
def data_fixing(ns_book4): # 잘못된 값을 수정하거나 NaN을 채우는 함수

  # 도서권수와 대출건수를 int32로 변환한다. 
  ns_book4 = ns_book4.astype({'도서권수':'int32', '대출건수':'int32'})

  # NaN인 세트 ISBN을 빈 문자열로 변환한다.
  set_isbn_na_rows = ns_book4['세트 ISBN'].isna()
  ns_book4.loc[set_isbn_na_rows, '세트 ISBN'] = ''

  # 발행년도 열에서 연도 네자리를 추출하여 대체한다.
  ns_book5 = ns_book4.replace({'발행년도':{r'.*(\d{4}).*'}}, r'\1', regex=True)
  unkown_year = ns_book5['발행년도'].str.contains('\D', na=True)

  # 나머지 발행년도는 -1로 변환한다.
  ns_book5.loc[unkown_year, '발행년도'] = '-1'

  # 발행년도를 int32로 변환한다.
  ns_book5 = ns_book5.astype({'발행년도': 'int32'})

  # 발행년도가 4000년 이상인 경우 2333년을 뺀다
  dangun_yy_rows = ns_book5['발행년도'].gt(4000)
  ns_book5.loc[dangun_yy_rows, '발행년도'] = ns_book5.loc[dangun_yy_rows, '발행년도'] - 2333

  # 여전히 발행년도가 4000년 이상인 경우 -1로 변환한다.
  dangun_year = ns_book5['발행년도'].gt(4000)
  ns_book5.loc[dangun_year, '발행년도'] = -1

  # 발행년도가 0 ~ 1900년 사이인 경우 발행년도를 -1로 변환한다.
  old_books = ns_book5['발행년도'].gt(0) & ns_book5['발행년도'].lt(1900)
  ns_book5.loc[old_books, '발행년도'] = -1
  
  # 도서명, 저자, 출판사가 NaN이거나 발행년도가 -1인 행을 추출한다.
  na_rows = ns_book5['도서명'].isna() | ns_book5['저자'].isna() | ns_book5['출판사'].isna() | ns_book5['발행년도'].eq(-1)

  # Yes24 도서 상세 페이지에서 누락된 정보를 채운다.
  updated_sample = ns_book5[na_rows].apply(get_book_info, axis=1, result_type='expand')

  # 칼럼명을 도서명, 저자, 출판사, 발행년도로 변경한다
  updated_sample.columns = ['도서명', '저자', '출판사', '발행년도']

  # ns_book5 데이터 프레임을 업데이트한다.
  ns_book5.update(updated_sample, overwrite=True)

  # 도서명, 저자, 출판사가 NaN이거나 발행년도가 -1인 행을 삭제한다.
  ns_book6 = ns_book5.dropna(subset=['도서명', '저자', '출판사'])
  ns_book6 = ns_book6[ns_book6['발행년도'] != -1]

  return ns_book6 # 결과를 반환한다.

In [63]:
ns_book7 = data_fixing(ns_book4)
ns_book7.head(80)

KeyboardInterrupt: ignored